*{
  background-color: #0A1930;
}

/* NavBar CSS */

a.navbar-brand, a.nav-link{
  color: aliceblue;
}

div.section{
  display: flex;
  align-items: center;
  justify-content: center;
}

hr.line{
  color: aliceblue;
}

h1.title{
  text-align: center;
  color: aliceblue;
}

/* About Me */

div.triangle{
  display: flex;
  background-color: #66C3BF;
  width: 50%;
  height: calc(100vh - 55.05px);
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, transparent 0%, transparent 50%, #66C3BF 50%, #66C3BF 100%);
}

img.me{
  width: 50%;
  height: 50%;
}

div.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

h1.main-title, h3.sub-title{
  color: aliceblue;
}

/* EDUCATION */

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #66C3BF;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  text-align: center;
  background-color: #66C3BF;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
  background-color: #66C3BF;
}

h1.education{
  text-align: center;
  background-color: #66C3BF;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* HISTORY */

div.text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.history{
  display: flex;
  width: 90%;
  background-color: #66C3BF;
  flex-direction: column;
  margin-bottom: 10px;
}

div.history h3{
  position: absolute;
  background-color: #66C3BF;
}

div.history h4{
  text-align: right;
  background-color: #66C3BF;
}

.list, .list li{
  background-color: #66C3BF;
  font-size: 20px;
}

/* SKILLS */

.technical h2, .soft h2{
  background-color: #66C3BF;
  text-align: center;
}

div.technical, div.soft{
  width: 40%;
  height: 20rem;
  margin: 10px;
  background: #66C3BF;
}

.skill-list, .skill-list li{
  background-color: #66C3BF;
}

/* Certificate CSS */

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}
.card-list .card-item {
  list-style: none;
}
.card-list .card-item .card-link {
  display: block;
  background: #66C3BF;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}
.card-list .card-item .card-link:active {
  cursor: grabbing;
}
.card-list .card-item .card-link:hover {
  border-color: #5372F0;
}
.card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.card-list .card-link .badge {
  color: #5372F0;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background: #DDE4FF;
  margin: 16px 0 18px;
}
.card-list .card-link .badge-designer {
  color: #B22485;
  background: #F7DFF5;
}
.card-list .card-link .badge-marketer {
  color: #B25A2B;
  background: #FFE3D2;
}
.card-list .card-link .badge-gamer {
  color: #205C20;
  background: #D6F8D6;
}
.card-list .card-link .badge-editor {
  color: #856404;
  background: #fff3cd;
}
.card-list .card-link .card-title {
  color: #000;
  font-size: 1.19rem;
  font-weight: 600;
  background-color: #66C3BF;
}
.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #5372F0;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #5372F0;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}
.card-list .card-link:hover .card-button {
  color: #fff;
  background: #5372F0;
}
.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372F0;
}
.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.card-wrapper .swiper-slide-button {
  color: #5372F0;
  margin-top: -35px;
}
/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }
  .card-wrapper .swiper-slide-button {
    display: none;
  }
}